<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo %>
  </div>

  <div class="field">
    <%= form.label :autor %>
    <%= form.text_field :autor %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, Book.statuses.keys %>
  </div>

  <div class="field">
    <%= form.label :borrowed_at %>
    <%= form.date_select :borrowed_at %>
  </div>

  <div class="field">
    <%= form.label :return_at %>
    <%= form.date_select :return_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
